# =========================
# macOS
# =========================
.DS_Store

# =========================
# Node / npm
# =========================
node_modules/
npm-debug.log*

# =========================
# Turborepo
# =========================
.turbo/

# =========================
# Next.js
# =========================
.next/
out/
.next-env.d.ts

# =========================
# Build output
# =========================
dist/
build/
coverage/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# ESLint
# =========================
.eslintcache

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.vscode
# =========================
# Prisma
# =========================
apps/api/src/generated/*